@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fascinate+Inline&display=swap");

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
