@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the body takes the entire width of the viewport */
  height: 100% !important;
}

#post h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
#post h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
#post h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

#post h4 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

#post p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.wp-block-heading {
  font-size: 1.4rem !important;
}

#sanity {
  max-height: 80vh !important;
}
